<div class="container">
  <div class="row">
    <div class="row">
      <h1>Cadastro de Corrida</h1>
    </div>
    <form class="col s12" (submit)="onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Escolha o tipo de treino</option>
            <option value="1">Intervalado</option>
            <option value="2">Longo</option>
            <option value="3">Fartlek</option>
            <option value="3">Tempo Run</option>
            <option value="3">Leve</option>
          </select>
          <label>Tipo de Treino</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m3">
          <input id="data-inicial" type="text" class="datepicker" />
          <label for="data-inicial">Data Inicial</label>
        </div>

        <div class="input-field col s6 m3">
          <input id="hora-inicial" type="text" class="timepicker" />
          <label for="hora-inicial">Hora Inicial</label>
        </div>

        <div class="input-field col s6 m3">
          <input id="data-final" type="text" class="datepicker" />
          <label for="data-final">Data Final</label>
        </div>

        <div class="input-field col s6 m3">
          <input id="hora-final" type="text" class="timepicker" />
          <label for="hora-final">Hora Final</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="distancia-percorrida" type="text" mask="separator.1" thousandSeparator="." decimalMarker="," />
          <label for="distancia-percorrida">Distância Percorrida (Km)</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="frequencia-cardiaca" type="text" mask="000" />
          <label for="frequencia-cardiaca">Frequência Cardíaca Média (Batimentos/minuto)</label>
        </div>
      </div>
      <div class="row right-align">
        <button class="waves-effect waves-light btn blue darken-2" type="submit">
          <i class="material-icons left">save</i>Salvar
        </button>
      </div>
    </form>
  </div>
</div>
