<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Desenvolvido por</h5>
        <p class="grey-text text-lighten-4">Cristian Rogério Assolini</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{ year }} Copyright - Todos os direitos reservados
      <a
        class="grey-text text-lighten-4 right"
        href="https://portal.utfpr.edu.br/"
        >UTFPR</a
      >
    </div>
  </div>
</footer>
