<header>
  <nav>
    <div class="nav-wrapper blue">
      <div class="container">
        <a href="#!" class="brand-logo">Treino de Corrida App</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul
          class="right hide-on-med-and-down"
        >
          <a
            routerLink="/calculo-pace"
            class="waves-effect waves-light btn blue darken-2"
          >
            <i class="material-icons left">directions_run</i>Calcule seu pace
          </a>
        </ul>
        <ul
          class="right hide-on-med-and-down"
          [hidden]="this.isHideBtnAdicionar"
        >
          <a
            routerLink="/corrida"
            class="waves-effect waves-light btn blue darken-2"
          >
            <i class="material-icons left">directions_run</i>Adicionar Corrida
          </a>
        </ul>
        <ul
          class="right hide-on-med-and-down"
          [hidden]="this.isHideListaCorridas"
        >
          <a
            routerLink="/lista-corridas"
            class="waves-effect waves-light btn blue darken-2"
          >
            <i class="material-icons left">list</i>Listar Corridas
          </a>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="assets/images/background-sidenav.jpg" />
        </div>
        <a href="#user"
          ><img class="circle" src="assets/images/avatar.jpg"
        /></a>
        <a href="#name"
          ><span class="white-text name">Cristian Rogério Assolini</span></a
        >
        <a href="#email"
          ><span class="white-text email">assolini@alunos.utfpr.edu.br</span></a
        >
      </div>
    </li>
    <li>
      <a href="#!" routerLink="/corrida"
        ><i class="material-icons">directions_run</i>Adicionar corrida</a
      >
    </li>
    <li>
      <a href="#!" routerLink="/lista-corridas"
        ><i class="material-icons">directions_run</i>Listar corridas</a
      >
    </li>
    <li>
      <a href="#!" routerLink="/calculo-pace"
        ><i class="material-icons">directions_run</i>Calcule seu pace</a
      >
    </li>
  </ul>
</header>
